.social {
    margin: 0 auto;
    width: 30%;

    &--utility {
        width: 45%;
    }

    @include respond(tab) {
        width: 40%;
    }

    @include respond(phone) {
        width: 60%;
    }

    @include respond(small-phone) {
        width: 90%;
    }

    .list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style: none;
        }
    
        &__icon {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            transition: all .1s;

            &--light {
                fill: $color-grey-light;

                &:hover {
                    fill: $color-white;
                }

            }

            &:hover {
                transform: translateY(-3px);
            }

        }
    
    }

    .id {
        color: $color-grey-light;
        font-size: 1.5rem;
        cursor: pointer;
    }

}